<h1>Edit </h1>

<%= form_tag users_edit_path, method: "put" do %>
<label >
  First name:
</label><br>
<%= text_field_tag :first_name, @staff.first_name %>


<label >
  Last name:
</label><br>
<%= text_field_tag :last_name, @staff.last_name  %>

<label >
  Adress:
</label><br>
<%= text_field_tag :address, @staff.address  %>


<label >
  Posal Code:
</label><br>
<%= number_field_tag :postal_code, @staff.postal_code  %>


<label >
City:
</label>

 <%= select("city", "ids",  City.all.collect {|r| [ r.city_name]}, {prompt: @staff.city })
%> <br>

<label >
  GSM:
</label><br>
<%= phone_field_tag :gsm, @staff.gsm  %>

<label >
  Email:
</label><br>
<%= email_field_tag :email, @staff.email  %>

<label >
  Role:
</label><br>
<%= select("role", "ids",  Role.all.collect {|r| [ r.role_name]}, {prompt: @staff.role})%> <br>

<label >
  Birthday:
</label><br>
<%= date_field_tag :birthday, @staff.birthday  %>








<h1> Pharmacy info : </h1> <br>
<label >
  Pharmacy Name:
</label><br>
<%= text_field_tag :name, @user.name  %>

<label >
  Adress:
</label><br>
<%= text_field_tag :address_p, @staff.address_p  %>


<label >
  Posal Code:
</label><br>
<%= number_field_tag :postal_code_p, @staff.postal_code_p  %>


<label >
City:
</label>

 <%= select("city_p", "ids",  City.all.collect {|r| [ r.city_name]}, {prompt: @staff.city_p })
%> <br>

<label >
  Tel:
</label><br>
<%= number_field_tag :tel, @staff.tel  %>
<br>



<label >
  password:
</label><br>
<%= password_field_tag :password, nil ,  :required => true%>
<br>


<%= submit_tag "Save change" %>
<% end %>
