<!DOCTYPE html>
<html>
  <head>
    <title>CfaBeta</title>
    <% if @current_user %>
    <ul>
      <li>
        <%= link_to "edit", users_edit_path(@user_name), method: :get %>
      </li>
      <li>
        <%= link_to "Log out", users_login_path, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>


    </ul>
    <% end %>

    <div><%= flash[:info] %></div>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
