<h1>add new products</h1>

<h1> </h1>

<%= form_tag stocks_add_products_path, method: "get" do %>
<label >
  Product name:
</label>
<%= text_field_tag :name_p, @product.name_p %> <br>

<label >
  Barcode:
</label>
<%= number_field_tag :barcode_p, @product.barcode_p %> <br>

<label >
  Barcode:
</label>
<%= number_field_tag :barcode_p, @product.barcode_p %> <br>

<label >
  Forme:
</label>
<%= select("forme_p", "ids",  Forme.all.collect {|r| [ r.forme_p]}, {prompt: 'Select the forme'})
%> <br>

<label >
  DCI:
</label>
<%= select("dci_p", "ids",  Dci.all.collect {|r| [ r.dci_p]}, {prompt: 'Select the DCI'})
%> <br>



<br>
<%= submit_tag "Save change" %>
<% end %>
